@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&family=Manrope:wght@200&family=Poiret+One&family=Shadows+Into+Light&family=Tenor+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
  font-family: Manrope, sans-serif;
  text-align: center;
  font-size: 100%;
}

h1, h2, h3 {
text-align: center;
text-transform: uppercase;
letter-spacing: 3px;
color: #7215eb;
}

h1 {
  font-family: "Shadows into Light", cursive;
  font-size: 150%;;
}

h2 {
  font-family:  "Poiret One", cursive;
  font-size: 125%;
  text-align: center;
}

h3 {
  font-family: "Poiret One", cursive;
  font-size: 115%;
  text-align: center;
}

#logo {
  padding: 6px 40px 6px 12px;
  font-size: 300%;
  text-align: center;
}

#menu {
 width: 100%;
 height: 240px;
 background-color: #e0dae8;
}

.menu-top {
  font-family: Manrope, sans-serif;
  font-size: 125%;
  margin: auto;
  letter-spacing: 3px;
  padding: 1%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.menu-top > li {
 list-style-type: none;
 padding: 6px;
}

.menu-top a {
  text-decoration: none;
  color: black;
}

.menu-top a:hover {
  border-bottom: 3px solid black;
  margin: 6px;
  resize: bigger;
  
}

/* Part being disconsidered

#menu-bottom li {
  text-align: center;
  padding: 4px;
  margin: 10px 50px;
  display: in-line;
}*/

ul {
list-style: none;
}

a {
text-decoration: none;
}

#main-image {
  height: 600px;
  width: 100%;
}

#main-image > div {
  padding: 1px 0 0 1px;
}

#main-image-right { 
  float: right;
  background-image: url('acai2.webp');
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 49%;
  box-sizing: border-box;
  overflow: hidden;
}

#main-image-left {
  float: left;
  background-image: url('acai1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 49%;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  
  background-image: url('acai3.jpeg');
  filter: grayscale(100%);
  overflow: hidden;
  box-sizing: border-box;
  background-repeat: no-repeat;
  //position: absolute;
  background-size: cover;
  height: 600px;
  width: 100%;
  background-position: center;
}

#about {
  padding: 6px 0px 30px 0px;
}

#left-about {
  padding: 9px;
  width: 43%;
  float: left;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 3px solid white;
  color: white;
}

#right-about {
  padding: 9px;
  width: 43%;
  float: right;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 3px solid white;
  color: white;
}

#ways {
  height: 1200px;
  width: 100%;
}

#top-ways, #bottom-ways {
  width: 98%;
  margin: 5px auto;
  display: flex;
  height: 600px;
  padding: 3px;
  
}
  
#ways h2 {
  padding: 6px;
  margin: 3px;
}

.box1, .box2 {
  width: 48%;
  height: 48%;
  border: 2px solid #7215eb;
  display: inline-block;
  overflow: hidden;
  margin: 2px;
}

.image-ways-1 {
  height: 48%;
  width: 48%;
  display: inline;
  justify-content: right;
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
}

.image-ways-2 {
  height: 48%;
  width: 48%;
  display: inline;
  float: left;
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
}

.para-ways-1 {
  height: 24%;
  width: 24%;
  display: inline;
  justify: left;
  padding: 2px;
  margin: 2px;
}

.para-ways-2 {
  height: 48%;
  width: 48%;
  display: inline;
  float: right;
  padding: 2px;
  margin: 2px;
}

#left-column-lifestyle {
  padding:9px;
  width: 27%;
  float: left;
  text-align: center;
  border: 3px solid #7215eb;
}

#right-column-lifestyle {
  padding: 9px;
  width: 27%;
  float: right;
  text-align: center;
  border: 3px solid #7215eb;
  
}

#center-column-lifestyle {
  padding: 12px;
  margin: 0 auto;
  width: 27%;
  text-align: center;
  border: 3px solid #7215eb;

}

#lifestyle {
  height: 600px;
  width: 100%;
}

#lifestyle > div {
  line-height: 25px;
}

#break {
  height: 600px;
  width: 100%;
}

#break-off-image {
  height: 98%;
  width: 98%;
  background-image: url('sujo-acai.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  /*padding isn't working*/
  padding-left: 30px;
}

#gallery {
  height: 900px;
  clear: both;
  line-height: 30px;
  column-count: 4;
  column-gap: 1px;
  margin-top: 10px;
  box-sizing: border-box;
  background-size: cover;
}

#gallery img {
  width: 100%;
  overflow: hidden;
}

footer {
  height: 150px;
}

.social-media {
  text-align: center;
  box-sizing: border-box;
}

.social-media > li {
  display: inline;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

/* Readjusting webpage for different screen sizes*/

@media screen and (max-width: 800px) {
  
  #gallery {
    height: 450px;
  }

  #break {
    height: 300px;
    width: 98%;
  }

  #lifestyle {
    width: 98%;
    height: 750px;
    margin: 0 auto;
  }

  #left-column-lifestyle, #right-column-lifestyle, #center-column-lifestyle {
    width: inherit;
    padding: 5px 20px;
    text-align: center;
  }

  #left-about h3, #right-about h3 {
    width: 100%;
  }

  #left-about p, #right-about p {
  padding: 0 20px;
  }

  #about {
    height: 30px;
  }
  h3 {
    font-size: 90%;
  }
}